{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block content %}

    <div class="row m-0">
    {% for article in articles %}
        <div class="col-lg-4 col-sm-10 mx-auto mb-2 h-50 mt-3" >
            <div class="card" style=" height: 36rem">
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="text-center ">{{ article.title }} </h3>
                    </div>
                    <div class="card-subtitle">
                        <p class="text-muted lead overflow-hidden" style="height: 25rem; overflow: hidden">
                            {{ article.content }}
                        </p>
                    </div>
                    <div class=" row text-muted d-flex justify-content-between m-1">
                        <p>{{ article.date | date('d/m/y à H:i') }}</p>
                        <p class="text-left">{{ article.auteur.firstname }} {{ article.auteur.lastname }}</p>
                    </div>
                    <div class="text-center">

                        <a href="{{ path('show_article_by_id',{'id':article.id })}}"> <button type="button" class="btn btn-primary">Lire l'article</button></a>

                        <a href="#"
                        ><i class="fab fa-youtube fa-2x mx-2 text-danger"></i
                            ></a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}